In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas_profiling

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import randomforestclassifier, gradientboostingclassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

%matplotlib inline

ImportError: cannot import name 'randomforestclassifier' from 'sklearn.ensemble' (/Users/jamessanders/opt/anaconda3/envs/task1env/lib/python3.9/site-packages/sklearn/ensemble/__init__.py)

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

%matplotlib inline

In [7]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
data = pd.read_csv('cleanedtask1.csv')
data.head()

   in-store  age  items   amount  region  age range  amount spent
0         0   37      4   281.03       2        2.0             1
1         0   35      2   219.51       2        1.0             1
2         1   45      3  1525.70       4        2.0             4
3         1   46      3   715.25       3        2.0             2
4         1   33      4  1937.50       1        1.0             4

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79979 entries, 0 to 79978
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   in-store      79979 non-null  int64
 1   age           79979 non-null  int64
 2   items         79979 non-null  int64
 3   amount        79979 non-null  float64
 4   region        79979 non-null  int64
 5   age range     79756 non-null  float64
 6   amount spent  79979 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 4.3 MB

In [11]:
#features
X = data.iloc[:,0:4]
print('Summary of feature sample')
X.head()

Summary of feature sample

   in-store  age  items   amount
0         0   37      4   281.03
1         0   35      2   219.51
2         1   45      3  1525.70
3         1   46      3   715.25
4         1   33      4  1937.50

In [12]:
#dependent variable
y = data['region']